In [37]:
import pandas as pd
import TumorDecon as td
import numpy as np

Not entirley sure what Im supposed to do with this data

In [88]:
human_expression = pd.read_excel("../data/HS_CPM_withNames.xlsx",index_col="Gene Name")
del human_expression['log2 SNU2D3/SNU']
del human_expression['log2 SNU1F5/SNU']
del human_expression['log2 NCIBAP1/NCIEV']
del human_expression['NCIBAP1/NCIEV']
del human_expression['SNU1F5/SNU']
del human_expression['SNU2D3/SNU']
del human_expression['Ensembl ID']
human_expression.columns = ['SNU_Original_cell_line', "SNU_KO1", "SNU_KO2","NCI_BAP1_0","NCI_BAP1_-1"]
human_expression.head()

,SNU_Original_cell_line,SNU_KO1,SNU_KO2,NCI_BAP1_0,NCI_BAP1_-1
Gene Name,,,,,
A1BG-AS1,0.117659,0.061119,0.000000,0.983894,1.856214
A2M,0.705952,1.650205,0.640537,1.665051,2.397610
A4GALT,14.942642,4.645022,1.537288,4.238311,5.645984
AAAS,49.475440,40.154990,64.886363,47.151212,48.261559
AACS,31.356016,30.070403,26.646325,36.555434,32.561084

In [89]:
mouse_espression = pd.read_excel("../data/MUS_CPM_results.xlsx",index_col="Gene Name")
del mouse_espression['Ensembl ID']
del mouse_espression['B162E10/B16']
del mouse_espression['B164F7/B16']
del mouse_espression['log2 B162E10/B16']
del mouse_espression['log2 B164F7/B16']
mouse_espression.head()

                 B162E10     B164F7        B16
Gene Name
0610009B22Rik  41.980013  64.710011  62.608110
0610009E02Rik   0.526725   1.370975   1.811577
0610009L18Rik   2.001556   3.290340   2.898524
0610010F05Rik  39.451732  50.246227  57.680620
0610010K14Rik   0.737416   0.411292   0.507242

In [90]:
print(human_expression.shape,mouse_espression.shape,converged.shape)

(16443, 5) (14702, 3) (5, 8)

Since there is almost over no overlap between these two im not going to do a combined analysis. Also I wont do an immune analysis on the mouse and a GSEA analysis.

## Human Analysis

In [91]:
human_expression = td.df_normalization(human_expression,"minmax")
human_expression.head()

           SNU_Original_cell_line   SNU_KO1   SNU_KO2  NCI_BAP1_0  NCI_BAP1_-1
Gene Name
A1BG-AS1                 0.000005  0.000003  0.000000    0.000054     0.000131
A2M                      0.000031  0.000091  0.000056    0.000091     0.000169
A4GALT                   0.000665  0.000256  0.000134    0.000232     0.000397
AAAS                     0.002200  0.002209  0.005648    0.002577     0.003396
AACS                     0.001394  0.001654  0.002319    0.001998     0.002292

In [92]:
human_variance_threshold = td.variance_threshold_selector(human_expression,threshold=.008)
human_variance_threshold.head()

           SNU_Original_cell_line   SNU_KO1   SNU_KO2  NCI_BAP1_0  NCI_BAP1_-1
Gene Name
ACTB                     0.197747  0.401092  0.720055    0.184780     0.320531
B2M                      0.062877  0.070103  0.027179    0.232167     0.309063
FLNA                     0.087378  0.194888  0.361249    0.159721     0.196631
HLA-B                    0.006198  0.004896  0.004109    0.185454     0.200272
HSP90AA1                 0.181328  0.203419  0.417113    0.098919     0.117636

In [93]:
print(human_expression.shape,human_variance_threshold.shape)

(16443, 5) (13, 5)

In [94]:
print(human_variance_threshold.index)

Index(['ACTB', 'B2M', 'FLNA', 'HLA-B', 'HSP90AA1', 'ITGB1', 'KRT8', 'MT-CO1',
       'MT-RNR2', 'MYH9', 'SERPINE1', 'SPARC', 'TMSB4X'],
      dtype='object', name='Gene Name')

The gene expressions of HLA-B and B2M show up in the most variant genes which is interesting because they were in the analysis of TCGA patients.

In [95]:
immune_profiles = td.cibersort_main(human_expression,td.read_lm22_file())
immune_profiles.head()

Running CiberSort...

Patient_ID,B cells naive,B cells memory,Plasma cells,T cells CD8,T cells CD4 naive,T cells CD4 memory resting,T cells CD4 memory activated,T cells follicular helper,T cells regulatory (Tregs),T cells gamma delta,...,Monocytes,Macrophages M0,Macrophages M1,Macrophages M2,Dendritic cells resting,Dendritic cells activated,Mast cells resting,Mast cells activated,Eosinophils,Neutrophils
SNU_Original_cell_line,0.173232,0.0,0.050609,0.00000,0.0,0.325913,0.029113,0.00000,0.000000,0.019908,...,0.124341,0.164611,0.0,0.000000,0.000000,0.052622,0.018694,0.000000,0.019460,0.000000
SNU_KO1,0.186037,0.0,0.149809,0.00000,0.0,0.461232,0.000000,0.01928,0.000000,0.000000,...,0.039993,0.000000,0.0,0.014445,0.000000,0.094957,0.008818,0.000000,0.018559,0.000000
SNU_KO2,0.200313,0.0,0.000000,0.00000,0.0,0.508813,0.000000,0.00000,0.062577,0.000000,...,0.011543,0.033907,0.0,0.000000,0.000000,0.028747,0.014110,0.000000,0.000000,0.000431
NCI_BAP1_0,0.066324,0.0,0.033884,0.05098,0.0,0.418845,0.028952,0.00000,0.008908,0.000000,...,0.014130,0.000000,0.0,0.000000,0.026721,0.028245,0.000000,0.213855,0.000000,0.008854
NCI_BAP1_-1,0.063180,0.0,0.030595,0.00000,0.0,0.517369,0.040623,0.00000,0.000000,0.000000,...,0.024788,0.000000,0.0,0.000000,0.015310,0.050137,0.000000,0.191082,0.000000,0.000000

In [96]:
immune_profiles_comb = td.combine_celltypes(immune_profiles)
immune_profiles_comb.head()

Patient_ID,Plasma cells,CD8 T cells,T cells gamma delta,Monocytes,Eosinophils,Neutrophils,B cells,CD4 T cells,NK cells,Macrophages,Mast cells,DC
SNU_Original_cell_line,0.050609,0.00000,0.019908,0.124341,0.019460,0.000000,0.173232,0.355026,0.021498,0.164611,0.018694,0.052622
SNU_KO1,0.149809,0.00000,0.000000,0.039993,0.018559,0.000000,0.186037,0.480512,0.006868,0.014445,0.008818,0.094957
SNU_KO2,0.000000,0.00000,0.000000,0.011543,0.000000,0.000431,0.200313,0.571390,0.139559,0.033907,0.014110,0.028747
NCI_BAP1_0,0.033884,0.05098,0.000000,0.014130,0.000000,0.008854,0.066324,0.456705,0.100301,0.000000,0.213855,0.054966
NCI_BAP1_-1,0.030595,0.00000,0.000000,0.024788,0.000000,0.000000,0.063180,0.557992,0.066916,0.000000,0.191082,0.065448

There seem to be huge differences between the SNU patients and the NCIB patients just in general. But maybe this is to be expected because theres just noise. But definitley  a question. Might help to seperate patients.